## Task: Predict car price using linear regression


You are provided with a dataset about cars in the form of a csv file.
The data contains different details like name, year and other

You are provided with the code to download the csv file that contains the dataset.

Your task is to **train a linear regression model** and predicts the car price.

**Divide the data** into a train (80%) and a validation data set (20%).

**Print train and validation losses**.

In [3]:
# Download the CSV file.
!gdown 1dail55JlMcsOlZKiSQeZSbTNHYiBH3U9

Downloading...
From: https://drive.google.com/uc?id=1dail55JlMcsOlZKiSQeZSbTNHYiBH3U9
To: c:\Users\Naif4\Desktop\Codeing\projects\FADS\car_dataset.csv

  0%|          | 0.00/355k [00:00<?, ?B/s]
100%|██████████| 355k/355k [00:00<00:00, 511kB/s]
100%|██████████| 355k/355k [00:00<00:00, 511kB/s]

## Preprocess and clean the dataframe

In [1]:

import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Load the CSV file into a Pandas DataFrame.
df = pd.read_csv('car_dataset.csv')

In [2]:
#Clean the data
for column in df.columns:
    if column != 'name':  # Exclude the specified column
        if df[column].dtype == 'object':  # Check if the column contains string/object df
            label_encoder = LabelEncoder()
            df[column] = label_encoder.fit_transform(df[column])


df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,4,1,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,4,1,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,1,0
3,Datsun RediGO T Option,2017,250000,46000,4,1,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,1,2

## Split the targeted feature from the input features into two dataframs

In [5]:
x_values = df.drop("selling_price", axis=1)
x_values = df.drop("name", axis=1)

y_values = df["selling_price"]
price_column = "selling_price"

## Convert the input and target featurs dataframs to numpy arrays

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    x_values, y_values, test_size=0.2, random_state=42)

## Divide the data into training and testing sets where the training set is 80% and the test set is 20%

## Use the linear regression closed-form solution and calculate the coefficients of the linear regression equation (theta) and the predictions (Y)

In [ ]:
def calculate_theta(X, y):
    theta = np.linalg.inv(X.T @ X) @ (X.T @ y)
    return theta


theta = calculate_theta(X_train, y_train)

theta = theta.reshape(-1, 1)

theta

theta.shape

predections = X_test @ theta

## Defining the Mean Squared Error Function and show the loss of your linear regression model on both the train and test sets

## Is the result of the loss function good?